<!-- VIDEO DISPLAY> -->
<div class="row">
  <div #frameDiv class="col-sm-10">
    <app-custom-youtube-player
      *ngIf="!localVidSelected"
      [videoId]="token"
      (onPlayerReadyEmitter)="savePlayer($event)"
    ></app-custom-youtube-player>

    <vg-player 
      *ngIf="localVidSelected && electronService.isElectronApp" 
    >
      <video 
        width="100%" 
        height="100%" 
        [vgMedia]="media" 
        #media 
        preload="auto" 
        controls
      >
        <source *ngFor="let source of localVidSources" [src]="source">
      </video>
    </vg-player>
  </div>
</div>
<!-- VIDEO DISPLAY^ -->

<!-- CREATION FORM> -->
<form [formGroup]="form" (submit)="onSubmit()">
<div class="row mt-5">
  <!-- RADION BUTTONS> -->
  <div class="col-10" style="display: flex; align-items: center; justify-content: center">
    <div class="VideoType">
      <input 
        type="radio" 
        id="isYouTube" 
        formControlName="videoType"
        class="mr-2 ml-2"
        name="videoType"
        value="YouTube"
        #youTube
        [checked]="true"
      />
      <label class for="isYouTube">YouTube</label>
    </div>

    <div>
      <input 
        type="radio" 
        id="isVimeo" 
        formControlName="videoType"
        class="mr-2 ml-2"
        name="videoType"
        #vimeo
        value="Vimeo"
      />
      <label for="isVimeo">Vimeo</label>
    </div>

    <div>
      <input 
        type="radio" 
        id="isLocal"
        formControlName="videoType"
        class="mr-2 ml-2"
        name="videoType"
        value="Local"
        #local
      />
      <label for="isLocal">Local</label>
    </div>
  </div><div class="col-2"></div>

  <div class="col-10 alert alert-warning"
    *ngIf="c['videoType']?.hasError('required')"
  >Video Type is required</div>
  <!-- RADION BUTTONS^ -->

  <ng-template [ngIf]="youTube.checked || vimeo.checked || (local.checked && electronService.isElectronApp)">
    <p 
      *ngIf="localVidSelected && local.checked && electronService.isElectronApp"
      style="color: white" 
      class="col-12 text-center"
    >
      Only Save if video plays!
    </p>
    <label  class="col-2 col-form-label text-right">Url</label>
    <div class="col-6">
      <input 
        formControlName="url"
        class="form-control-black mb-4" 
        type="text" 
      />
    </div>

    <div class="col-2" *ngIf="youTube.checked || vimeo.checked">
        <button type="button" (click)="onClickPlay()" class="btn btn-primary btn-block">Play</button>
    </div>
    <div class="col-2" *ngIf="local.checked && electronService.isElectronApp">
        <button type="button" (click)="localFileSelect()" class="btn btn-primary btn-block">Select</button>
    </div>

    <div class="col-2"></div>
  </ng-template>

  <ng-template [ngIf]="local.checked && !electronService.isElectronApp">
    <p style="color: white" class="col-12 text-center">Write down the path to the video so you can easily find for when taking notes in the future!</p>
    <label  class="col-2 col-form-label text-right">Url</label>
    <div class="col-8 mb-4">
      <input
        formControlName="url"
        class="form-control-black" 
        type="text" 
      />
    </div>
    <div class="col-2"></div>
  </ng-template>

  <label class="col-2 col-form-label text-right">Name</label>
  <div class="col-8">
    <input 
      formControlName="name"
      class="form-control-black mb-4" 
      type="text" 
    />
  </div>
  <div class="col-2"></div>

  <label class="col-2 col-form-label text-right">Description</label>
  <div class="col-8">
    <input 
      formControlName="description"
      class="form-control-black mb-4" 
      type="text" 
    />
  </div>

  <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
  </div>

  <button (click)="localFileSelect()">testButton</button>

</form>
<!-- CREATION FORM^ -->
