<div class="note-border outer-text-box">
    <div style="display:flex">
      <div 
        [innerHTML]="initialVal"
        [ngClass]="{'on-focus': note.shouldExpand, 'on-blur': !note.shouldExpand}"
        (input)="onContentChange($event)"
        (focus)="onFocus()"
        (blur)="onBlur()"
        style="width: 100%; outline: 0px solid transparent"
        class="inner-text-box"
        contenteditable="true"
      ></div>
      <button
        [contextMenu]="basicMenu"
        (click)="onCreateChild()"
        style="height: 5em; width: 2em; background-color: black"
      ></button>
    </div>
  </div>

  <context-menu>
    <ng-template 
      contextMenuItem 
      (execute)="deleteNote()">
      Delete</ng-template>
    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template 
      contextMenuItem let-item 
      (execute)="deleteNote()">
      Go To Time</ng-template>
  </context-menu>

