<div 
  [style.border] = "note.borderThickness+'px solid '+note.borderColor"
  [style.background-color] = "note.backgroundColor"
  [style.color] = "note.textColor"
  class="note-border outer-text-box"
>
    <div style="display:flex">
      <div 
        [id]="note.inPageId"
        [innerHTML]="initialVal"
        [ngClass]="{'on-focus': note.shouldExpand, 'on-blur': !note.shouldExpand}"
        (input)="onContentChange($event)"
        (focus)="onFocus()"
        (blur)="onBlur()"
        style="width: 100%; outline: 0px solid transparent"
        class="inner-text-box"
        contenteditable="true"
      ></div>
      <button
        [contextMenu]="basicMenu"
        (click)="onCreateChild()"
        style="height: 5em; width: 2em; background-color: black"
      ></button>
    </div>
  </div>

  <input #ignoredInput
      class="color-input"
      [cpIgnoredElements]="[ignoredInput]"
      [(cpToggle)]="toggleBorderColor"
      [(colorPicker)]="note.borderColor"
      [cpCancelButton]="true"
      [cpOKButton]="true"
      [cpOKButtonClass]= "'btn btn-primary btn-xs'"
      [cpCancelButtonClass]= "'btn btn-primary btn-xs'"
  />

    <input #ignoredInput2
      class="color-input"
      [cpIgnoredElements]="[ignoredInput2]"
      [(cpToggle)]="toggleBackgroundColor"
      [(colorPicker)]="note.backgroundColor"
      [cpCancelButton]="true"
      [cpOKButton]="true"
      [cpOKButtonClass]= "'btn btn-primary btn-xs'"
      [cpCancelButtonClass]= "'btn btn-primary btn-xs'"
  />

  <input #ignoredInput3
      class="color-input"
      [cpIgnoredElements]="[ignoredInput3]"
      [(cpToggle)]="toggleTextColor"
      [(colorPicker)]="note.textColor"
      [cpCancelButton]="true"
      [cpOKButton]="true"
      [cpOKButtonClass]= "'btn btn-primary btn-xs'"
      [cpCancelButtonClass]= "'btn btn-primary btn-xs'"
  />

  <context-menu>
    <ng-template 
      contextMenuItem 
      (execute)="deleteNote()">
      Delete</ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template 
      contextMenuItem
      (execute)="goToTime()">
      Go To Time</ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template 
      contextMenuItem
      (execute)="toggleBorderColor = !toggleBorderColor">
      Pick Border Color</ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template 
      contextMenuItem
      (execute)="toggleTextColor = !toggleTextColor">
      Pick Text Color</ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template 
      contextMenuItem
      (execute)="toggleBackgroundColor = !toggleBackgroundColor">
      Pick Background Color</ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template 
      contextMenuItem
      (execute)="pickBorderSize()">
      <input (click)="stopPropagation($event)" [value]="borderSize" (input)="borderSizeInputChange($event)" type="number" />
      Pick Border Size</ng-template>
  </context-menu>

