<div class="row">
  <div class="col-10">
    <app-video-player></app-video-player>
  </div>
  <div class="col-sm-2 align-self-end">
      <button
          class="btn btn-primary btn-block add-note" position="top">
          Add Note
      </button>

      <button
          data-tip={c.createSubNoteButtnoDataTip}
          class="btn btn-primary btn-block add-note" position="top">
          Sub Note
      </button>

      <button
          data-tip={c.createSSubNoteButtnoDataTip}
          class="btn btn-primary btn-block add-note" position="top">
          SSub Note
      </button>

      <button
          data-tip={c.createSSSubNoteButtnoDataTip}
          class="btn btn-primary btn-block add-note" position="top">
          SSSub Note
       </button>

      <button
          class="btn btn-primary btn-block add-note" position="top">
          Time Stamp
      </button>

      <button
          class="btn btn-primary btn-block add-note" position="top">
          New Topic
      </button>
  </div>
</div>