<div *ngIf="(currentDir$ | async) as currentDir">
    <div class="row">
        <div class="col-3 mt-2">
            <!-- PARENT SHEET -->
            <app-current-dir
                [currentDir]="currentDir"
                (currentDirClickedEmitter)="onClickDir($event)"
            ></app-current-dir>
            <!-- SHEET CHILDREN  -->
            <app-dir-list
            [dirs]="currentDir.subdirectories"
            (onClickDirEmitter)="onClickDir($event)"
            ></app-dir-list>
        </div>
        <div class="col-9">
            <app-all-videos
                [videos]="currentDir.videos"
            ></app-all-videos>
        </div>
    </div>
</div>
