<app-custom-youtube-player
  *ngIf="youTubeSetUp && type === VideoType.youTube"
  [videoId]="token"
  (onPlayerReadyEmitter)="saveYouTubePlayer($event)"
  (onPlayerChangeStateEmitter)="youtubeChange($event)"
></app-custom-youtube-player>

<vg-player 
  *ngIf="localSetUp && type === VideoType.local" 
  (onPlayerReady)="saveLocalPlayer($event)"
>
    <video 
      (pause)="localPaused()"
      (play)="localPlayed()"
      width="100%"
      height="100%" 
      [vgMedia]="media" 
      #media 
      preload="auto"
      controls
      autoplay
    >
        <source *ngFor="let source of localSources" [src]="source">
    </video>
</vg-player>
