<ng-template [ngIf]="!isSelectingDir">
    <div class="row mb-4">
        <div class="col-3">
            <p style="color: white" class="text-center">Click to set preset one</p>
            <button class="btn btn-primary btn-block"
            (click)="selectingButton(true)"
            >{{btnOneName}}</button>
        </div>
        <div class="col-3">
            <p style="color: white" class="text-center">Click to set preset two</p>
            <button class="btn btn-primary btn-block"
            (click)="selectingButton(false)"
            >{{btnTwoName}}</button>
        </div>
    </div>

    <!-- EXTENSION VIDEOS HERE> -->
    <div 
        class="row mb-2"
        *ngFor="let vid of videosForImport"
    >
        <div class="col-5" style="background-color: #32383e">
            <div>{{vid.url}}</div>
            <div style="color: white; height: 3em;">{{vid.name}}</div>
        </div>

        <div class="col-2">
            <button 
                [disabled]="btnOneId===null" 
                (click)="onClickApproveVideo(vid.id, btnOneId)" 
                style="height: 100%;" 
                class="btn btn-primary btn-block"
            >{{btnOneName}}</button>
        </div>

        <div class="col-2">
            <button 
                [disabled]="btnTwoId===null" 
                (click)="onClickApproveVideo(vid.id, btnTwoId)" 
                style="height: 100%;" 
                class="btn btn-primary btn-block"
            >{{btnTwoName}}</button>
        </div>

        <div class="col-2">
            <button 
                (click)="selectingVideoDir(vid.id)"
                style="height: 100%;"
                class="btn btn-primary btn-block"
            >Select Dir</button>
        </div>

        <div class="col-1">
            <button 
                (click)="onClickDeleteVideo(vid.id)" 
                style="height: 100%; color:black"
                class="btn btn-primary btn-warning"
            >Del</button>
        </div>
    </div>
    <!-- EXTENSION VIDEOS HERE^ -->
</ng-template>

<ng-template [ngIf]="isSelectingDir">
    <getready-folder-selector
        [parentHandlesBack]="true"
        [folders]="folders"
        (folderCreatedRefresh)="foldersCreatedRefresh()"
        (folderSelectedEmitter)="folderSelected($event)"
        (backEmitter)="onSelectorBack()"
    ></getready-folder-selector>
</ng-template>
